.btn1{
background-color:red;
border: solid;
}
.btn1:hover{
background-color: chocolate;
}

.btn2:hover{
background-color: blue;
}
.btn3{
background-color: blue;
color: antiquewhite;
border: 10px;
}
.btn3:hover{
box-shadow: 1px 2px 4px black;
}