.container{
    display: grid;
    justify-content: space-between;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    gap: 15px;
    padding: 20px;
}

.todo-card{
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}

nav {
  background-color: aqua;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  gap: 25px;
}